<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
  <div class="georgia-inner-text">
  <div class = "kaisei-decol-regular">
    <h1><%= t('static_pages.What is a Georgian_Food?') %></h1>
   </div>
  </div>
    <div class="georgia-deta">
    <div class = "kaisei-decol-regular">
    <p><%= t('static_pages.Georgian_Food1') %></p>
    <p><%= t('static_pages.Georgian_Food2') %></p>
    </div>
    </div>
  <div class="georgia-inner-text">
   <div class = "kaisei-decol-regular">
    <h1><%= t('static_pages.Georgian_Food3') %></h1>
   </div>
  </div>
  <div class="georgia-deta">
    <div class = "kaisei-decol-regular">
  <p><%= t('static_pages.Georgian_Food4') %></p>
  <p><%= t('static_pages.Georgian_Food5') %></p>
  <p><%= t('static_pages.Georgian_Food6') %></p>
  </div>
  </div>
  <div class="georgia-inner-text">
   <div class = "kaisei-decol-regular">
    <h1<%= t('static_pages.Georgian_Food7') %></h1>
   </div>
  </div>
  <div class="georgia-deta">
    <div class = "kaisei-decol-regular">
  <p><%= t('static_pages.Georgian_Food8') %></p>
  </div>
  </div>
  <!-- 画像 -->
       <div class="food-container">
         <%= image_tag 'Image05.webp', alt: 'イメージ5', class: 'image05' %>
         <%= image_tag 'Image06.webp', alt: 'イメージ6', class: 'image06' %>
       </div>
  <br>
  <div class="overview">
    <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
  </div>
</div>