<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
  <div class="georgia-inner-text">
   <div class = "kaisei-decol-regular">
    <h1><%= t('static_pages.What kind of country is Georgia?') %></h1>
   </div>
  </div>
  <br>
    <div class="georgia-deta">
     <div class = "kaisei-decol-regular">
      <p><%= t('static_pages.Georgia1') %><br><%= t('static_pages.Georgia2') %></p>
      <p><%= t('static_pages.Georgia3') %><br><%= t('static_pages.Georgia4') %></p>
      <p><%= t('static_pages.Georgia5') %><br><%= t('static_pages.Georgia6') %></p>
      <p><%= t('static_pages.Georgia7') %><br><%= t('static_pages.Georgia8') %></p>
      <p><%= t('static_pages.Georgia9') %><br><%= t('static_pages.Georgia10') %></p>
      <p><%= t('static_pages.Georgia11') %><br><%= t('static_pages.Georgia12') %></p>
      <p><%= t('static_pages.Georgia13') %><br><%= t('static_pages.Georgia14') %><br>
      <%= t('static_pages..Georgia15') %></p>
      <p><%= t('static_pages.reference_materials') %><br>
      <a href="https://www.mofa.go.jp/mofaj/area/georgia/index.html" target="_blank">外務省：ジョージア</a><br>
      <a href="https://www.mofa.go.jp/mofaj/area/georgia/data.html" target="_blank">外務省：ジョージアのデータ</a></p>
     </div>  
    </div>
    <!-- 画像 -->
    <div class="food-container">
     <div id='map'></div>
      <style>
        #map {
          height: 450px;
          width: 600px;
          border:0;
        }
      </style>

      <script>
       let map
       const display = document.getElementById('display')
       function initMap() {
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 41.75,
                lng: 44.77
            },
            zoom: 6.3,
        });
       }
      </script>
       <script
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"  
        async defer>
       </script>
    </div>
    <br>
    <div class="overview">
    <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
    </div>
</div>