<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap" rel="stylesheet">
    </head>
<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
 <div class="top-inner-text">
   <div class = "kaisei-decol-regular">
    <h1><%= t('static_pages.how_to_use_this_app') %></h1>
   </div>
  </div>
  <br>
    <div class="overview">
     <div class = "kaisei-decol-regular">
     <p><%= t('static_pages.how_to_use1') %></p>
     <div class = "noto-serif-georgian-uniquifier">
       <p>გამარჯობა</p>
     </div>
     <%= t('static_pages.how_to_use2') %></p>
     <p><%= t('static_pages.how_to_use3') %></p>
     <p><%= t('static_pages.how_to_use4') %></p>
     <a href="https://gyazo.com/f41256f802723f48ffde25c5ad1e63a5"><video width="350" autoplay muted loop playsinline><source src="https://i.gyazo.com/f41256f802723f48ffde25c5ad1e63a5.mp4" type="video/mp4"/></video></a>
     <p><%= t('static_pages.how_to_use5') %></p>
     <p><%= t('static_pages.how_to_use6') %></p>
     <a href="https://gyazo.com/4fd8a151537c0c1a6a87fb1cf1ef2eed"><video width="350" autoplay muted loop playsinline><source src="https://i.gyazo.com/4fd8a151537c0c1a6a87fb1cf1ef2eed.mp4" type="video/mp4"/></video></a>
     <br>
     <img src="https://i.gyazo.com/88975322fdb03ee8f1df6c058798b620.png" width="450",class: 'food-link'>
     <p><%= t('static_pages.how_to_use7') %></p>
     <p><%= t('static_pages.how_to_use8') %></p>
     <p><%= t('static_pages.how_to_use9') %></p>
          <div class='text-center'>
           <%= link_to auth_at_provider_path(provider: :google), data: { turbo: false } do %>
           <%= image_tag "google_sign_in.png", class: "w-1/2 md:w-3/5 mx-auto py-5" %>
           <% end %>
          </div>
     <p><%= t('static_pages.how_to_use10') %></p>
     <a href="https://gyazo.com/77226ae3c59756f394bb694dde9eee80"><video width="350" autoplay muted loop playsinline><source src="https://i.gyazo.com/77226ae3c59756f394bb694dde9eee80.mp4" type="video/mp4"/></video></a>
     <br>
     <%= t('static_pages.how_to_use11') %></p>
     <br>
     <p><%= t('static_pages.how_to_use12') %></p>
     <a href="https://gyazo.com/8314c1f4d5bbfae7f66c013f2f996929"><video width="350" autoplay muted loop playsinline><source src="https://i.gyazo.com/8314c1f4d5bbfae7f66c013f2f996929.mp4" type="video/mp4"/></video></a>
     <br>
     <p><%= t('static_pages.how_to_use13') %></p>
     <a href="https://gyazo.com/17bbd5f9c466337bf7b480627da44c3f"><video width="350" autoplay muted loop playsinline><source src="https://i.gyazo.com/17bbd5f9c466337bf7b480627da44c3f.mp4" type="video/mp4"/></video></a>
     <br>
     <p><%= t('static_pages.how_to_use14') %></p>
     <a href="https://gyazo.com/f9538980e70325317dcdf1def45efa42"><video width="350" autoplay muted loop playsinline><source src="https://i.gyazo.com/f9538980e70325317dcdf1def45efa42.mp4" type="video/mp4"/></video></a>
     </div>  
    </div>
    <br>
    <div class="overview">
    <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
    </div>
</div>