<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap" rel="stylesheet">
    </head>
<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
 <div class="top-inner-text">
   <div class = "kaisei-decol-regular">
    <h1><%= t('static_pages.how_to_use_this_app') %></h1>
   </div>
  </div>
  <br>
    <div class="overview">
     <div class = "kaisei-decol-regular">
     <p><%= t('static_pages.how_to_use1') %></p>
     <div class = "noto-serif-georgian-uniquifier">
       <p>გამარჯობა</p>
     </div>
     <%= t('static_pages.how_to_use2') %></p>
     <p><%= t('static_pages.how_to_use3') %></p>
     <p><%= t('static_pages.how_to_use4') %></p>
     <a href="https://gyazo.com/9cd7276af41c782bcc3bd63724cd7d9d"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/9cd7276af41c782bcc3bd63724cd7d9d.mp4" type="video/mp4"/></video></a>
     <p><%= t('static_pages.how_to_use5') %></p>
     <p><%= t('static_pages.how_to_use6') %></p>
     <a href="https://gyazo.com/020872b963df6db8e7a421851251c9f1"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/020872b963df6db8e7a421851251c9f1.mp4" type="video/mp4"/></video></a>
     <br>
     <img src="https://i.gyazo.com/1ed020c1c3e22b1317a8cbff3b38e2f5.png" class: 'food-link'>
     <p><%= t('static_pages.how_to_use7') %></p>
     <p><%= t('static_pages.how_to_use8') %></p>
     <p><%= t('static_pages.how_to_use9') %></p>
          <div class='text-center'>
           <%= link_to auth_at_provider_path(provider: :google), data: { turbo: false } do %>
           <%= image_tag "google_sign_in.png", class: "w-1/2 md:w-3/5 mx-auto py-5" %>
           <% end %>
          </div>
     <p><%= t('static_pages.how_to_use10') %></p>
     <a href="https://gyazo.com/d8e53ab13039a02ce4751f4243d5c4a3"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/d8e53ab13039a02ce4751f4243d5c4a3.mp4" type="video/mp4"/></video></a>
     <br>
     <%= t('static_pages.how_to_use11') %></p>
     <a href="https://gyazo.com/82ed38aa4fc0c4a8ab40a6117f87da18"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/82ed38aa4fc0c4a8ab40a6117f87da18.mp4" type="video/mp4"/></video></a>
     <br>
     <p><%= t('static_pages.how_to_use12') %></p>
     <a href="https://gyazo.com/773299f3a94dc1fab144c2dfc85277ef"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/773299f3a94dc1fab144c2dfc85277ef.mp4" type="video/mp4"/></video></a>
     <br>
     <p><%= t('static_pages.how_to_use13') %></p>
     <a href="https://gyazo.com/a2e00bfdf0185eb9ef63a0d81f7408ed"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/a2e00bfdf0185eb9ef63a0d81f7408ed.mp4" type="video/mp4"/></video></a>
     <br>
     <p><%= t('static_pages.how_to_use14') %></p>
     <a href="https://gyazo.com/0a8fc9f2c31c14626613764d857a6114"><video width="748" autoplay muted loop playsinline><source src="https://i.gyazo.com/0a8fc9f2c31c14626613764d857a6114.mp4" type="video/mp4"/></video></a>
     </div>  
    </div>
    <br>
    <div class="overview">
    <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
    </div>
</div>