    <head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap" rel="stylesheet">
    </head>
<div class="top-wrapper">
  <div class="top-inner-text">
      <div class = "kaisei-decol-regular">
       <h1><%= t('static_pages.title') %></h1>
       <h2><%= t('static_pages.subtitle') %></h2> 
      </div>
      <div class = "noto-serif-georgian-uniquifier">
      <h3>გამარჯობა</h3>
      </div>
    <br>
    <% if logged_in? %>
      <!-- ログイン後のコンテンツ -->
      <div class = "kaisei-decol-regular">
       <h4><%= t('static_pages.another_diagnosis') %></h4>
      </div>
      <!-- 診断スタートボタン -->
      <div class="start-button-container">
         <%= link_to t('static_pages.start_button'), new_diagnosis_path, class: 'orange' %>
      </div>
      <br>
      <div class = "kaisei-decol-regular">
       <h4><%= t('static_pages.click_to_comment_or_post!') %></h4>
      </div>
    </div>
      <div class="food-container">
        <!-- ログイン後の掲示板一覧の表示 -->
        <div class="food-grid">
          <!-- 画像を含むボタン例 -->
          <div class="food-item">
            <%= link_to posts_path(recipe: "ojakhuri"), class: 'food-link' do %>
              <%= image_tag('Answer01.webp', class: 'food-image') %>
               <span class="food-text">
                <%= t('diagnoses.description.ojakhuri') %>
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ოჯახური</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "badrijani"), class: 'food-link' do %>
              <%= image_tag('Answer02.webp', class: 'food-image')%>
               <span class="food-text">
                <%= t('diagnoses.description.badrijani') %>
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ბადრიჯანი</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "sokos"), class: 'food-link' do %>
              <%= image_tag('Answer03.webp', class: 'food-image')%>
               <span class="food-text">
                <%= t('diagnoses.description.sokos_chashushuli') %>
                <div class = "noto-serif-georgian-uniquifier">
                 <p>სოკოს ჭაშუშული</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "pkhali"), class: 'food-link' do %>
              <%= image_tag('Answer04.webp', class: 'food-image')%>
               <span class="food-text">
                <%= t('diagnoses.description.pkhali') %>
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ფხალი</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "ostri"), class: 'food-link' do %>
              <%= image_tag('Answer05.webp', class: 'food-image')%>
               <span class="food-text">
                <%= t('diagnoses.description.ostri') %>
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ოსტრი</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "chikirtma"), class: 'food-link' do %>
              <%= image_tag('Answer06.webp', class: 'food-image')%>
               <span class="food-text">
                <%= t('diagnoses.description.chikirtma') %>
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ჩიხირთმა</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "shkmeruli"), class: 'food-link' do %>
              <%= image_tag('Answer07.webp', class: 'food-image')%>
               <span class="food-text">
                <%= t('diagnoses.description.shkmeruli') %>
                <div class = "noto-serif-georgian-uniquifier">
                 <p>შქმერული</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "chakhohbili"), class: 'food-link' do %>
              <%= image_tag('Answer08.webp', class: 'food-image')%>
               <span class="food-text">
                <%= t('diagnoses.description.chakhohbili') %>
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ჩახოხბილი</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <!-- ログイン前のコンテンツ -->
      <div class = "kaisei-decol-regular">
      <h4><%= t('static_pages.check here before starting diagnosis') %></h4>
      </div>
      <div class="button-container">
        <!-- 上部のボタン -->
       <div class="image-container">
        <div class="button upper-button">
         <div class = "kaisei-decol-regular">
          <%= link_to t('static_pages.how_to_use_this_app'), how_to_use_path, class: 'button-text'%>
         </div>
        </div>
       </div>
        <!-- 中央部のボタン -->
       <div class="image-container">
        <div class="button middle-button">
         <div class = "kaisei-decol-regular">
          <%= link_to t('static_pages.What kind of country is Georgia?'), georgia_path, class: 'button-text'%>
         </div>
        </div>
       </div>
        <!-- 下部のボタン -->
       <div class="image-container">
        <div class="button under-button">
         <div class = "kaisei-decol-regular">
          <%= link_to t('static_pages.What is a Georgian_Food?'), food_path, class: 'button-text'%>
         </div>
        </div>
       </div>
        <!-- みんなの口コミのボタン -->
      </div>
      <div class = "kaisei-decol-regular">
       <h5><%= t('static_pages.If you can confirm it.') %></h5>
      </div>
      <!-- 診断スタートボタン -->
      <div class="start-button-container">
        <%= link_to t('static_pages.start_button'), new_diagnosis_path, class: 'orange' %>
      </div>
      <br>
      <div class = "kaisei-decol-regular">
       <h5>ジョージアについて、あなたはどのくらい知っている？</h5>
      </div>
       <%= link_to 'クイズを始める', new_quiz_path, class: "btn btn-lg px-4 py-2 shadow", style: "background-color: rgb(179, 62, 92); color: white; border-radius: 8px; font-weight: bold;" %>
    <% end %>
  </div>
</div>
