    <head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap" rel="stylesheet">
    </head>
<div class="top-wrapper">
  <div class="top-inner-text">
      <div class = "kaisei-decol-regular">
       <h1>ジョージア料理診断アプリ</h1>
       <h2>ガマルジョバ</h2> 
      </div>
      <div class = "noto-serif-georgian-uniquifier">
      <h3>გამარჯობა</h3>
      </div>
    <br>
    <% if logged_in? %>
      <!-- ログイン後のコンテンツ -->
      <div class = "kaisei-decol-regular">
      <h4>クリックして、コメントや投稿をしてみよう</h4>
      </div>
    </div>
      <div class="food-container">
        <!-- ログイン後の掲示板一覧の表示 -->
        <div class="food-grid">
          <!-- 画像を含むボタン例 -->
          <div class="food-item">
            <%= link_to posts_path(recipe: "ojakhuri"), class: 'food-link' do %>
              <%= image_tag('Answer01.webp', class: 'food-image') %>
               <span class="food-text">
                オジャフリ
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ოჯახური</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "badrijani"), class: 'food-link' do %>
              <%= image_tag('Answer02.webp', class: 'food-image')%>
               <span class="food-text">
                パドリジャーニ
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ბადრიჯანი</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "sokos"), class: 'food-link' do %>
              <%= image_tag('Answer03.webp', class: 'food-image')%>
               <span class="food-text">
                ソコスチャシュシュリ
                <div class = "noto-serif-georgian-uniquifier">
                 <p>სოკოს ჭაშუშული</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "pkhali"), class: 'food-link' do %>
              <%= image_tag('Answer04.webp', class: 'food-image')%>
               <span class="food-text">
                プパリ
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ფხალი</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "ostri"), class: 'food-link' do %>
              <%= image_tag('Answer05.webp', class: 'food-image')%>
               <span class="food-text">
                オーストリ
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ოსტრი</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "chikirtma"), class: 'food-link' do %>
              <%= image_tag('Answer06.webp', class: 'food-image')%>
               <span class="food-text">
                チヒルトゥマ
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ჩიხირთმა</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "shkmeruli"), class: 'food-link' do %>
              <%= image_tag('Answer07.webp', class: 'food-image')%>
               <span class="food-text">
                シュクメルリ
                <div class = "noto-serif-georgian-uniquifier">
                 <p>შქმერული</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to posts_path(recipe: "chakhohbili"), class: 'food-link' do %>
              <%= image_tag('Answer08.webp', class: 'food-image')%>
               <span class="food-text">
                チャホフビリ
                <div class = "noto-serif-georgian-uniquifier">
                 <p>ჩახოხბილი</p>
                </div>
               </span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <!-- ログイン前のコンテンツ -->
      <div class = "kaisei-decol-regular">
      <h4>診断始める前に、こちらを確認</h4>
      </div>
      <div class="button-container">
        <!-- 上部のボタン -->
       <div class="image-container">
        <div class="button upper-button">
         <div class = "kaisei-decol-regular">
          <%= link_to "このアプリの使い方", how_to_use_path, class: 'button-text'%>
         </div>
        </div>
       </div>
        <!-- 中央部のボタン -->
       <div class="image-container">
        <div class="button middle-button">
         <div class = "kaisei-decol-regular">
          <%= link_to t('static_pages.What kind of country is Georgia?'), georgia_path, class: 'button-text'%>
         </div>
        </div>
       </div>
        <!-- 下部のボタン -->
       <div class="image-container">
        <div class="button under-button">
         <div class = "kaisei-decol-regular">
          <%= link_to t('static_pages.What is a Georgian_Food?'), food_path, class: 'button-text'%>
         </div>
        </div>
       </div>
        <!-- みんなの口コミのボタン -->
      </div>
      <div class = "kaisei-decol-regular">
       <h5>確認出来たら</h5>
      </div>
      <!-- 診断スタートボタン -->
      <div class="start-button-container">
        <%= link_to '診断スタート', new_diagnosis_path, class: 'orange' %>
      </div>
    <% end %>
  </div>
</div>
