<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>ジョージア料理診断アプリ</h1>
    <h2>ガマルジョバ</h2>
    <h3>გამარჯობა</h3>
    <br>
    <% if logged_in? %>
      <!-- ログイン後のコンテンツ -->
      <h4>クリックして、コメントや投稿をしてみよう</h4>
    </div>
      <div class="food-container">
        <!-- ログイン後の掲示板一覧の表示 -->
        <div class="food-grid">
          <!-- 画像を含むボタン例 -->
          <div class="food-item">
            <%= link_to ojakhuri_path, class: 'food-link' do %>
              <%= image_tag('Answer01.png', class: 'food-image') %>
               <span class="food-text">オジャフリ</span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to badrijani_path, class: 'food-link' do %>
              <%= image_tag('Answer02.png', class: 'food-image')%>
               <span class="food-text">パドリジャーニ</span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to sokos_path, class: 'food-link' do %>
              <%= image_tag('Answer03.png', class: 'food-image')%>
               <span class="food-text">ソコスチャシュシュリ</span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to pkhali_path, class: 'food-link' do %>
              <%= image_tag('Answer04.png', class: 'food-image')%>
               <span class="food-text">プパリ</span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to ostri_path, class: 'food-link' do %>
              <%= image_tag('Answer05.png', class: 'food-image')%>
               <span class="food-text">オーストリ</span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to chikirtma_path, class: 'food-link' do %>
              <%= image_tag('Answer06.png', class: 'food-image')%>
               <span class="food-text">チヒルトゥマ</span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to shkmeruli_path, class: 'food-link' do %>
              <%= image_tag('Answer07.png', class: 'food-image')%>
               <span class="food-text">シュクメルリ</span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
          <div class="food-item">
            <%= link_to chakhohbili_path, class: 'food-link' do %>
              <%= image_tag('Answer08.png', class: 'food-image')%>
               <span class="food-text">チャホフビリ</span> <!-- 画像の中央に表示するテキスト -->
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <!-- ログイン前のコンテンツ -->
      <h4>診断始める前に、こちらを確認</h4>
      <div class="button-container">
        <!-- 上部のボタン（Flag_of_Georgia.png） -->
        <div class="button upper-button">
          <%= link_to 'ジョージアって何?', georgia_path, class: 'button-text'%>
        </div>
        <!-- 下部のボタン（Image07.png） -->
        <div class="button under-button">
          <%= link_to 'ジョージア料理って何？', food_path, class: 'button-text'%>
        </div>
      </div>
      <h5>確認出来たら</h5>
      <!-- 診断スタートボタン -->
      <div class="start-button-container">
        <%= link_to '診断スタート', new_diagnosis_path, class: 'orange' %>
      </div>
    <% end %>
  </div>
</div>
