<%= form_for(@diagnosis, class: 'form-horizontal') do |f| %>
  <div class="diagnosis-wrapper">
      <div class="top-inner-text">
      <h2>3つの質問にYESかNOで答えてね</h2>
      </div>
      <div class="row">
          <div class="diagnosis-inner-text">
              <p>Question1. お酒はよく飲む</p>
          </div>
          <div class="col-6">
              <%= f.radio_button :question1, "1", id: "question1_yes", class: "hidden-radio" %>
              <label for="question1_yes" class="button yes-button">YES</label>
          </div>
          <div class="col-6">
              <%= f.radio_button :question1, "2", id: "question1_no", class: "hidden-radio" %>
              <label for="question1_no" class="button no-button">NO</label>
          </div>

          <div class="diagnosis-inner-text">
              <p>Question2. 時間がないので、手軽に作りたい</p>
          </div>
          <div class="col-6">
              <%= f.radio_button :question2, "1", id: "question2_yes", class: "hidden-radio" %>
              <label for="question2_yes" class="button yes-button">YES</label>
          </div>
          <div class="col-6">
              <%= f.radio_button :question2, "2", id: "question2_no", class: "hidden-radio" %>
              <label for="question2_no" class="button no-button">NO</label>
          </div>

          <div class="diagnosis-inner-text">
              <p>Question3. がっつりしたのが食べたい</p>
          </div>
          <div class="col-6">
              <%= f.radio_button :question3, "1", id: "question3_yes", class: "hidden-radio" %>
              <label for="question3_yes" class="button yes-button">YES</label>
          </div>
          <div class="col-6">
              <%= f.radio_button :question3, "2", id: "question3_no", class: "hidden-radio" %>
              <label for="question3_no" class="button no-button">NO</label>
          </div>
      </div>
      <div class="diagnosis-inner-text">
      <%= f.submit t('diagnoses.botton.result'), class: 'result' %>
      </div>
  </div>
<% end %>
