<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap" rel="stylesheet">
</head>
<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
  <div class="diagnosis-inner-text">
   <div class = "kaisei-decol-regular">
    <p><%= t('diagnoses.recommended') %></p>
   </div>
  </div>
  <div class="tweet-container">

    <!-- 111 の場合（オジャフリ） -->
    <% if @diagnosis.question == "112" %>
      <div class="image-container">
        <img src="/assets/Answer01.png" alt="オジャフリ" class="answer-image">
        <div class="text-overlay">
          <h6>オジャフリ</h6>
          <div class = "noto-serif-georgian-uniquifier">
          <p>ოჯახური</p>
          </div>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
       <div class = "kaisei-decol-regular">
       <p><%= t('diagnoses.description.ojakhuri1') %></p>
       <p><%= t('diagnoses.description.ojakhuri2') %></p>
       <p><%= t('diagnoses.description.ojakhuri3') %></p>
       </div>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-ojakhuri-jp/" class="how-to-make"><%= t('diagnoses.botton.how-to-make') %></a>
      </div>


    <!-- 121 の場合（パドリジャーニ） -->
    <% elsif @diagnosis.question == "212" %>
      <div class="image-container">
        <img src="/assets/Answer02.png" alt="パドリジャーニ" class="answer-image">
        <div class="text-overlay">
          <h6>パドリジャーニ</h6>
          <div class = "noto-serif-georgian-uniquifier">
          <p>ბადრიჯანი</p>
          </div>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
       <div class = "kaisei-decol-regular">
        <p><%= t('diagnoses.description.badrijani1') %></p>
        <p><%= t('diagnoses.description.badrijani2') %></p>
        <p><%= t('diagnoses.description.badrijani3') %></p>
       </div>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-badrijani-jp/" class="how-to-make"><%= t('diagnoses.botton.how-to-make') %></a>
      </div>


    <!-- 122 の場合（ソコスチャシュシュリ） -->
    <% elsif @diagnosis.question == "122" %>
      <div class="image-container">
        <img src="/assets/Answer03.png" alt="ソコスチャシュシュリ" class="answer-image">
        <div class="text-overlay">
          <h6>ソコスチャシュシュリ</h6>
          <div class = "noto-serif-georgian-uniquifier">
           <p>სოკოს ჭაშუშული</p>
          </div>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
       <div class = "kaisei-decol-regular">
        <p><%= t('diagnoses.description.sokos_chashushuli1') %></p>
        <p><%= t('diagnoses.description.sokos_chashushuli2') %></p>
       </div>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-sokos-chashushuli-jp/" class="how-to-make"><%= t('diagnoses.botton.how-to-make') %></a>
      </div>


    <!-- 222 の場合（プパリ） -->
    <% elsif @diagnosis.question == "222" %>
      <div class="image-container">
        <img src="/assets/Answer04.png" alt="プパリ" class="answer-image">
        <div class="text-overlay">
          <h6>プパリ</h6>
          <div class = "noto-serif-georgian-uniquifier">
           <p>ფხალი</p>
          </div>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p><%= t('diagnoses.overview') %></p>
      </div>
      <div class="overview">
       <div class = "kaisei-decol-regular">
        <p><%= t('diagnoses.description.pkhali1') %></p>
        <p><%= t('diagnoses.description.pkhali2') %></p>
        <p><%= t('diagnoses.description.pkhali3') %></p>
        <p><%= t('diagnoses.description.pkhali4') %></p>
       </div>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-pkhali-jp/" class="how-to-make"><%= t('diagnoses.botton.how-to-make') %></a>
      </div>


    <!-- 121 の場合（オーストリ） -->
    <% elsif @diagnosis.question == "121" %>
      <div class="image-container">
        <img src="/assets/Answer05.png" alt="オーストリ" class="answer-image">
        <div class="text-overlay">
          <h6>オーストリ</h6>
          <div class = "noto-serif-georgian-uniquifier">
           <p>ოსტრი</p>
          </div>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
       <div class = "kaisei-decol-regular">
        <p><%= t('diagnoses.description.ostri1') %></p>
        <p><%= t('diagnoses.description.ostri2') %></p>
        <p><%= t('diagnoses.description.ostri3') %></p>
       </div> 
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-ostri-jp/" class="how-to-make"><%= t('diagnoses.botton.how-to-make') %></a>
      </div>


    <!-- 221 の場合（チヒルトゥマ） -->
    <% elsif @diagnosis.question == "221" %>
      <div class="image-container">
        <img src="/assets/Answer06.png" alt="チヒルトゥマ" class="answer-image">
        <div class="text-overlay">
          <h6>チヒルトゥマ</h6>
          <div class = "noto-serif-georgian-uniquifier">
           <p>ჩიხირთმა</p>
          </div>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
       <div class = "kaisei-decol-regular">
        <p><%= t('diagnoses.description.chikirtma1') %></p>
        <p><%= t('diagnoses.description.chikirtma2') %></p>
        <p><%= t('diagnoses.description.chikirtma3') %></p>
       </div>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-chikhirtma-jp/" class="how-to-make"><%= t('diagnoses.botton.how-to-make') %></a>
      </div>

    
    <!-- 111 の場合（シュクメルリ） -->
    <% elsif @diagnosis.question == "111" %>
      <div class="image-container">
        <img src="/assets/Answer07.png" alt="シュクメルリ" class="answer-image">
        <div class="text-overlay">
          <h6>シュクメルリ</h6>
          <div class = "noto-serif-georgian-uniquifier">
           <p>შქმერული</p>
          </div>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
       <div class = "kaisei-decol-regular">
        <p><%= t('diagnoses.description.shkmeruli1') %></p>
        <p><%= t('diagnoses.description.shkmeruli2') %></p>
        <p><%= t('diagnoses.description.shkmeruli3') %></p>
       </div>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-shkmeruli-jp/" class="how-to-make"><%= t('diagnoses.botton.how-to-make') %></a>
      </div>



    <!-- 211 の場合（チャホフビリ） -->
    <% elsif @diagnosis.question == "211" %>
      <div class="image-container">
        <img src="/assets/Answer08.png" alt="チャホフビリ" class="answer-image">
        <div class="text-overlay">
          <h6>チャホフビリ</h6>
          <div class = "noto-serif-georgian-uniquifier">
           <p>შქმერული</p>
          </div>
        </div>
      </div>
      <div class="diagnosis-inner-text">
      <p>概説</p>
      </div>
      <div class="overview">
       <div class = "kaisei-decol-regular">
        <p><%= t('diagnoses.description.chakhohbili1') %></p>
        <p><%= t('diagnoses.description.chakhohbili2') %></p>
        <p><%= t('diagnoses.description.chakhohbili3') %></p>
       </div>
      </div>
      <div class="button-container">
      <a href="https://ca-voir.com/nobuyo-kitchen-chakhokhbili-jp/" class="how-to-make"><%= t('diagnoses.botton.how-to-make') %></a>
      </div>
    <% end %>
  </div>
    <div class="button-container2">
      <%= link_to t('diagnoses.botton.diagnosis-again'), new_diagnosis_path, class:"diagnosis-again" %>
        <div class="share-buttons">
          <!-- Xシェアボタン -->
            <a href="https://twitter.com/share"
            class="twitter-share-button"
            data-url="<%= request.original_url %>"
            data-text="おすすめのジョージア料理は <%= @recipe_name %> です！ #ジョージア料理診断 #ジョージア料理 #ジョージア"
            data-lang="ja"
            data-show-count="false">
            Xでシェア
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="text-overlay">
         <p>新規登録、ログインして
         料理のコメント投稿、評価をしてみよう！</p>
        </div>
      <%= link_to t('diagnoses.botton.registration'), new_user_path, class:"orange" %>
    </div>
</div>

        