<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
<div class="d-flex justify-content-center my-4">
 <div class="rounded border border-white border-4 bg-warning-subtle p-3 w-50 w-lg-40">
  <div class="text-dark lh-lg mb-4">
  <div class="my-8">
    <h1 class="md:text-3xl text-xl font-bold mb-5"><%= t('.title') %></h1>
    <p><%= t('terms.terms.content1') %></p>
    <p><%= t('terms.terms.content2') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule1') %></h2>
    <p><%= t('terms.terms.content3') %></p>
    <p><%= t('terms.terms.content4') %></p>
    <p><%= t('terms.terms.content5') %></p>
    <p><%= t('terms.terms.content6') %></p>

    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule2') %></h2>
    <p><%= t('terms.terms.content7') %></p>
    <p><%= t('terms.terms.content8') %></p>
    <ul>
        <li class="my-4"><%= t('terms.terms.content9') %></li>
        <li class="my-4"><%= t('terms.terms.content10') %></li>
        <li class="my-4"><%= t('terms.terms.content11') %></li>
    </ul>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule3') %></h2>
    <p><%= t('terms.terms.content11') %></p>
    <p><%= t('terms.terms.content12') %></p>
    <p><%= t('terms.terms.content13') %></p>
    <p><%= t('terms.terms.content14') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule4') %></h2>
    <p><%= t('terms.terms.content16') %></p>
    <p><%= t('terms.terms.content17') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule5') %></h2>
    <p>
        <%= t('terms.terms.content18') %>
    </p>
    <ol>
        <li class="my-4"><%= t('terms.terms.content19') %></li>
        <li class="my-4"><%= t('terms.terms.content20') %></li>
        <li class="my-4"><%= t('terms.terms.content21') %></li>
        <li class="my-4"><%= t('terms.terms.content22') %></li>
        <li class="my-4"><%= t('terms.terms.content23') %></li>
        <li class="my-4"><%= t('terms.terms.content24') %></li>
        <li class="my-4"><%= t('terms.terms.content25') %></li>
        <li class="my-4"><%= t('terms.terms.content26') %></li>
        <li class="my-4"><%= t('terms.terms.content27') %></li>
        <li class="my-4"><%= t('terms.terms.content28') %></li>
        <li class="my-4"><%= t('terms.terms.content29') %></li>
        <li class="my-4"><%= t('terms.terms.content30') %></li>
        <li class="my-4"><%= t('terms.terms.content31') %></li>
        <li class="my-4"><%= t('terms.terms.content32') %></li>
        <li class="my-4"><%= t('terms.terms.content33') %></li>
    </ol>
  </div>
  <div>
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule6') %></h2>
    <p>
       <%= t('terms.terms.content34') %> 
    </p>
    <ul>
        <li class="my-4"><%= t('terms.terms.content35') %></li>
        <li class="my-4"><%= t('terms.terms.content36') %></li>
        <li class="my-4"><%= t('terms.terms.content37') %></li>
        <li class="my-4"><%= t('terms.terms.content38') %></li>
    </ul>
    <p>
        <%= t('terms.terms.content39') %>
    </p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule7') %></h2>
    <p>
        <%= t('terms.terms.content40') %>
    </p>
    <ul>
        <li class="my-4"><%= t('terms.terms.content41') %></li>
        <li class="my-4"><%= t('terms.terms.content42') %></li>
        <li class="my-4"><%= t('terms.terms.content43') %></li>
        <li class="my-4"><%= t('terms.terms.content44') %></li>
        <li class="my-4"><%= t('terms.terms.content45') %></li>
        <li class="my-4"><%= t('terms.terms.content46') %></li>
    </ul>
    <p>
        <%= t('terms.terms.content47') %>
    </p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule8') %></h2>
    <p>
        <%= t('terms.terms.content48') %>
    </p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule9') %></h2>
    <p><%= t('terms.terms.content49') %></p>
    <p><%= t('terms.terms.content50') %></p>
    <p><%= t('terms.terms.content51') %></p>
    <p><%= t('terms.terms.content52') %></p>
    <p><%= t('terms.terms.content53') %></p>
    <p><%= t('terms.terms.content54') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule10') %></h2>
    <p>
        <%= t('terms.terms.content55') %>
    </p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule11') %></h2>
    <p>
        <%= t('terms.terms.content56') %>
    </p>
    <ul>
        <li class="my-4"><%= t('terms.terms.content57') %></li>
        <li class="my-4"><%= t('terms.terms.content58') %></li>
    </ul>
    <p>
        <%= t('terms.terms.content59') %>
    </p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule12') %></h2>
    <p>
        <%= t('terms.terms.content60') %>
    </p>
    </div>
    <div>
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule13') %></h2>
    <p><%= t('terms.terms.content61') %></p>
    <p><%= t('terms.terms.content62') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule14') %></h2>
    <p>
        <%= t('terms.terms.content63') %>
    </p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('terms.terms.rule15') %></h2>
    <p>
        <%= t('terms.terms.content64') %>
    </p>
  </div>
  <div class="my-8">
    <p><%= t('terms.terms.content65') %></p>
  </div>
 </div>
</div>
</div>
  <div class="overview">
    <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
  </div>
</div>