<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
 <div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1><%= t('users.new.title') %></h1>
      <%= form_with model: @user do |f| %>
        <%= render 'shared/error_messages', object: @user %>
        <div class="mb-3">
          <%= f.label :user_name, class: "form-label" %>
          <%= f.text_field :user_name, class: "form-control custom-input" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control custom-input" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control custom-input" %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control custom-input" %>
        </div>
        <%= f.submit t('users.new.register'), class: "btn btn-primary" %>
      <% end %>
      <br>
        <!-- 「Googleログインの方はこちら」のリンク -->
        <div class='text-center text-sm'>
          <%= t('users.new.google') %>
        </div>
         <div class='text-center'>
          <%= link_to auth_at_provider_path(provider: :google), data: { turbo: false } do %>
           <%= image_tag "google_sign_in.png", class: "w-1/2 md:w-3/5 mx-auto py-5" %>
          <% end %>
         </div>
    </div>
  </div>
 </div>
</div>
