<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
 <div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1><%= t('users.new.title') %></h1>
      <%= form_with model: @user do |f| %>
        <%= render 'shared/error_messages', object: @user %>
        <div class="mb-3">
          <%= f.label :user_name, class: "form-label" %>
          <%= f.text_field :user_name, class: "form-control custom-input" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control custom-input" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control custom-input" %>
        </div>
        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control custom-input" %>
        </div>
        <div class='text-center text-sm'>
         <div class="amplify-flex amplify-field amplify-checkboxfield">
          <label class="amplify-flex amplify-checkbox">
           <span class="amplify-visually-hidden">
            <input aria-invalid="false" class="amplify-input amplify-field-group__control amplify-checkbox__input" data-id="amplify-id-:r27:" type="checkbox" value="yes" name= :acknowledgement>
           </span>
           <span class="amplify-text amplify-checkbox__label">
            <p>
             <a target="_blank" rel="noreferrer" class="font-bold text-orange underline decoration-2 underline-offset-1" href="/terms">
              利用規約
             </a> 、
             <a target="_blank" rel="noreferrer" class="font-bold text-orange underline decoration-2 underline-offset-1" href="https://www.kiyac.app/privacypolicy/FjpZb0f14mVOOlbu7Bdk">
              プライバシーポリシー
             </a>に同意する
            </p>
           </span>
           </label><p class="amplify-text amplify-field__error-message">同意の上、チェックボックスにチェックをしてください</p></div>
        </div>
        <div class="text-center mt-3">
         <%= f.submit t('users.new.register'), class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>
        <div class='text-center text-sm'>
          <%= t('users.new.google') %>
        </div>
         <div class='text-center'>
          <%= link_to auth_at_provider_path(provider: :google), data: { turbo: false } do %>
           <%= image_tag "google_sign_in.png", class: "w-1/2 md:w-3/5 mx-auto py-5" %>
          <% end %>
         </div>
         <div class="overview">
          <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
         </div>
    </div>
  </div>
 </div>
</div>
