<footer id='footer' class='footer-bottom'>
  <nav class='navbar navbar-expand-lg navigation navbar-light custom-bg'>
      <div class='col-sm-6 col-12'>
         <ul class='navbar-nav ms-auto main-nav align-items-center'>
          <%= link_to t('footer.privacy_policy'), 'https://www.kiyac.app/privacypolicy/FjpZb0f14mVOOlbu7Bdk', class: "nav-link" %>
          <%= link_to t('footer.terms_of_Use'), terms_path ,class: 'nav-link' %>
          <%= link_to  t('footer.contact_us'),"https://docs.google.com/forms/d/e/1FAIpQLSfGv6xKuATPkIRM57hOeL6fAwSo-hnu4CyrhzpKDKQ386I9cg/viewform?embedded=true", class: 'nav-link' %>
          </ul>
      </div>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
       © 2024. Itok1000
       <div class="d-flex justify-content-end align-items-center">
       <!-- GitHubリンク -->
       <%= link_to "https://github.com/Itok1000/master", class: "mx-2", target: "_blank" do %>
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/github.png" alt="github"/>
       <% end %>
      <!-- Xリンク -->
      <%= link_to "https://x.com/Itoken1000", class: "mx-2", target: "_blank" do %>
        <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/twitterx--v1.png" alt="twitterx--v1"/> <!-- ロゴファイルのパスを指定 -->
      <% end %>
      </ul>
    </div>
  </nav>
</footer>