<%= form_with model: @post do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <!-- タイトルの入力欄 -->
    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <!-- 本文の入力欄 -->
    <div class="mb-3">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", rows: "10" %>
    </div>
    <!-- 画像ファイルをアップロードするボタンを設置 -->
    <div class="mb-3">
      <%= f.label :post_image %>
      <%= f.file_field :post_image, class: "form-control", accept: 'image/*' %>
      <%= f.hidden_field :post_image_cache %>
    </div>
    <%= f.submit nil, class: "btn btn-primary" %>
<% end %>