<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
   <div class = "text-center">
    <h1><%= t('header.helpful') %></h1>
   </div>
    <div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'search_form', url: favorites_posts_path, favorite_posts: @q %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @favorite_posts.present? %>
          <%= render partial: 'posts/post', collection: @favorite_posts, as: :post %>
          <%= paginate @favorite_posts %> 
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="overview">
    <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
  </div>
</div>
</div>
