<head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap" rel="stylesheet">
</head>
<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
  <div class="top-inner-text">
     <div class="text-overlay">
     <h1><%= @recipe_info[:name] %></h1>
      <div class = "noto-serif-georgian-uniquifier">
       <h2><%= @recipe_info[:name2] %></h2>
      </div>
     </div>
      <%= image_tag @recipe_info[:image], class: "post-food-image" %>
  </div>
      <div class="overview">
      <p>概説</p>
      <!-- 5つ星の平均値-->
       <div class = "kaisei-decol-regular">
        <p><%= @recipe_info[:description] %></p>
       </div>
      </div>  
    
    <div class="container pt-3">
  <div class="row">
  </div>
   <!-- 掲示板一覧 -->
   <div class="row">
   <div class="col-12">
     <div class="row">
       <% if @posts.present? %>
          <%= render partial: 'posts/post', collection: @posts, as: :post %> <!-- 明示的なパス指定 -->
          <%= paginate @posts %> <!-- ページネーションの表示 -->
        <% else %>
          <div class="mb-3"><%= t('posts.index.no_result') %></div>
        <% end %>
      </div>
     </div>
     <div class = "button-container">
     <!-- new アクションで投稿を作成する際、どの料理に対する投稿かを渡す必要がある -->
     <!--  例えば、new アクションのリンクに recipe パラメータを追加し、新規投稿画面にそれを渡す-->
     <%= link_to t('posts.new.title'), new_post_path(recipe: @recipe), class: "blue" %>
     </div>
   </div>
  </div>
</div>




