<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
  <div class="top-inner-text">
     <div class="text-overlay">
     <h1><%= @recipe_info[:name] %></h1>
     </div>
      <%= image_tag @recipe_info[:image], class: "post-food-image" %>
      <div class="overview">
      <p>概説</p>
      <p><%= @recipe_info[:description] %></p>
      </div>  
    </div>
    <div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <form>
        <div class="input-group mb-3"><input class="form-control" placeholder="検索ワード" type="search"/>
          <div class="input-group-append"><input type="submit" value="検索" class="btn btn-primary"/></div>
        </div>
      </form>
    </div>
  </div>
   <!-- 掲示板一覧 -->
   <div class="row">
   <div class="col-12">
     <div class="row">
       <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <div class="mb-3">掲示板がありません</div>
        <% end %>
      </div>
     </div>
     <div class = "button-container">
     <!-- new アクションで投稿を作成する際、どの料理に対する投稿かを渡す必要がある -->
     <!--  例えば、new アクションのリンクに recipe パラメータを追加し、新規投稿画面にそれを渡す-->
     <%= link_to t('posts.new.title'), new_post_path(recipe: @recipe), class: "blue" %>
     </div>
   </div>
  </div>
</div>




