<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
   <div class = "text-center">
    <h1><%= t('header.list_of_posts') %></h1>
   </div>
 <div class="container pt-3">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォームをここに追加 -->
      <%= render 'search_form', url: posts_posts_path, post_posts: @q %>
    </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
       <% if @user_posts.present? %>
          <div class="row">
          <%= render partial: 'posts/post', collection: @user_posts, as: :post %> <!-- 各投稿を表示する -->
          <%= paginate @user_posts %> <!-- ページネーションの表示 -->
       <% else %>
          <p><%= t('.no_result') %></p>
       <% end %>
      </div>
    </div>
   </div>
  </div>
  </div>
</div>

