<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
 <div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <div class='text-center'>
        <h1><%= t('.title') %></h1>
      </div>
      <%= form_with url: login_path do |f| %>
        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control custom-input" %>
        </div>
        
        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control custom-input" %>
        </div>


        <div class="text-center mt-3">
          <%= f.submit t('user_sessions.new.login'),class: "btn btn-primary" %>
        </div>
      <% end %>


      <div class='text-center mt-3'>
        <%= link_to t('user_sessions.new.to_register_page'), new_user_path, class: 'font-bold text-orange underline decoration-2 underline-offset-1' %>
      </div>


        <div class='text-center'>
          <%= link_to t('user_sessions.new.password_forget'), new_password_reset_path, class: 'font-bold text-orange underline decoration-2 underline-offset-1' %>
        </div>
        <br>

        <div class='text-center text-sm'>
          <%= t('users.new.google') %>
        </div>
         <div class='text-center'>
          <%= link_to auth_at_provider_path(provider: :google), data: { turbo: false } do %>
           <%= image_tag "google_sign_in.png", class: "w-1/2 md:w-3/5 mx-auto py-5" %>
          <% end %>
         </div>
         <div class="overview">
          <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
         </div>
    </div>
  </div>
 </div>
</div>
