<!DOCTYPE html>
<html>
  <head>
    <title>ガマルジョバ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- meta_tag -->
    <%= display_meta_tags %>
  </head>

  <body>
  # if logged_in? の記述について
  # ユーザーのログイン状態に応じて表示するヘッダーを出し分けるために、gem 'sorcery'が提供する logged_in? ヘルパーメソッドを使用している
  # このメソッドはユーザーがログインしているかどうかを判定し、真偽値（trueまたはfalse）を返す
  # この真偽値に基づいて、適切なヘッダー部分のテンプレートを表示することができる
  # この条件分岐により、logged_in? が true（つまりユーザーがログイン状態）の場合は、ログイン後のヘッダー（shared/header.html.erb）が表示される
  # これにはユーザーのプロフィールやログアウトリンクが含まれている
  # 逆に false の場合、ログイン前の状態を示すヘッダー（shared/before_login_header.html.erb）が表示され、こちらにはログインリンクが含まれている
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
