<% content_for(:title, t('.title')) %>
<div class="top-wrapper">
<div class="d-flex justify-content-center my-4">
 <div class="rounded border border-white border-4 bg-warning-subtle p-3 w-50 w-lg-40">
  <div class="text-dark lh-lg mb-4">
  <div class="my-8">
    <h1 class="md:text-3xl text-xl font-bold mb-5"><%= t('.title') %></h1>
    <h2 class="md:text-3xl text-xl font-bold mb-5"><p><%= t('policies.policies.rules1') %></p></h2>
    <p><%= t('policies.policies.content1') %></p>
    <ul>
        <li class="my-4"><%= t('policies.policies.content2') %></li>
        <li class="my-4"><%= t('policies.policies.content3') %></li>
        <li class="my-4"><%= t('policies.policies.content4') %></li>
        <li class="my-4"><%= t('policies.policies.content5') %></li>
    </ul>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('policies.policies.rule2') %></h2>
    <p><%= t('policies.policies.content6') %></p>
    <ul>
    <li class="my-4"><%= t('policies.policies.content7') %></li>
    <li class="my-4"><%= t('policies.policies.content8') %></li>
    <li class="my-4"><%= t('policies.policies.content9') %></li>
    <li class="my-4"><%= t('policies.policies.content10') %></li>
    <li class="my-4"><%= t('policies.policies.content11') %></li>
    <li class="my-4"><%= t('policies.policies.content12') %></li>
    <li class="my-4"><%= t('policies.policies.content13') %></li>
    <li class="my-4"><%= t('policies.policies.content14') %></li>
    <li class="my-4"><%= t('policies.policies.content15') %></li>
    <li class="my-4"><%= t('policies.policies.content16') %></li>
    </ul>
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('policies.policies.rule3') %></h2>
    <p><%= t('policies.policies.content17') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('policies.policies.rule4') %></h2>
    <p><%= t('policies.policies.content18') %></p>
    <p><%= t('policies.policies.content19') %></p>
    <ul>
    <li class="my-4"><%= t('policies.policies.content20') %></li>
    <li class="my-4"><%= t('policies.policies.content21') %></li>
    <li class="my-4"><%= t('policies.policies.content22') %></li>
    <li class="my-4"><%= t('policies.policies.content23') %></li>
    </ul>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('policies.policies.rule5') %></h2>
    <p><%= t('policies.policies.content24') %></p>
    <p><%= t('policies.policies.content25') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('policies.policies.rule6') %></h2>
    <p><%= t('policies.policies.content26') %></p>
  </div>
  <div>
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('policies.policies.rule7') %></h2>
    <p><%= t('policies.policies.content27') %></p>
    <p><%= t('policies.policies.content28') %></p>
    <p><%= t('policies.policies.content29') %></p>
    <p><%= t('policies.policies.content30') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('policies.policies.rule8') %></h2>
    <p><%= t('policies.policies.content31') %></p>
  </div>
  <div class="my-8">
    <h2 class="md:text-3xl text-xl font-bold mb-5"><%= t('policies.policies.rule9') %></h2>
    <p><%= t('policies.policies.content32') %></p>
  </div>
  <p><%= t('policies.policies.content33') %></p>
  <p><%= t('policies.policies.content34') %></p>
 </div>
</div>
</div>
  <div class="overview">
    <%= link_to t('static_pages.return_button'), top_path, class: 'orange' %>
  </div>
</div>